<!-- add-evento.component.html -->

<div class="containermt-4">
  <div class="header-container mb-4 d-flex justify-content-center align-items-center">
    <!-- Título en el centro -->
    <h2 class="mb-0">Añadir Nuevo Evento</h2>
  </div>

  <div class="col-md-6">
    <form #form="ngForm" (ngSubmit)="createEvento()">
      <div class="form-group">
        <label for="nombre" class="font-weight-bold">Nombre del Evento:</label>
        <input [(ngModel)]="evento.nombre" placeholder="Ingrese el nombre" name="nombre" class="form-control" id="nombre" required>
      </div>

      <div class="form-group">
        <label for="descripcioncorta" class="font-weight-bold">Descripción Corta:</label>
        <input [(ngModel)]="evento.descripcioncorta" placeholder="Ingrese una descripción corta" name="descripcioncorta" class="form-control" id="descripcioncorta" required>
      </div>

      <div class="form-group">
        <label for="descripcionextendida" class="font-weight-bold">Descripción Extendida:</label>
        <textarea [(ngModel)]="evento.descripcionextendida" placeholder="Ingrese una descripción extendida" name="descripcionextendida" class="form-control" id="descripcionextendida" rows="3" required></textarea>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="preciomin" class="font-weight-bold">Precio Mínimo:</label>
          <input [(ngModel)]="evento.preciomin" placeholder="Precio mínimo" name="preciomin" class="form-control" id="preciomin" required>
        </div>

        <div class="form-group col-md-6">
          <label for="preciomax" class="font-weight-bold">Precio Máximo:</label>
          <input [(ngModel)]="evento.preciomax" placeholder="Precio máximo" name="preciomax" class="form-control" id="preciomax" required>
        </div>
      </div>

      <div class="form-group">
        <label for="normas" class="font-weight-bold">Normas:</label>
        <textarea [(ngModel)]="evento.normas" placeholder="Ingrese las normas" name="normas" class="form-control" id="normas" rows="3" required></textarea>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="genero" class="font-weight-bold">Género:</label>
          <input [(ngModel)]="evento.genero" placeholder="Género" name="genero" class="form-control" id="genero" required>
        </div>

        <div class="form-group col-md-6">
          <label for="recinto" class="font-weight-bold">Nombre del Recinto:</label>
          <input [(ngModel)]="evento.recinto.nombre" placeholder="Nombre del Recinto" name="recinto" class="form-control" id="recinto" required>
        </div>
      </div>

      <button type="button" class="btn btn-success btn-block mt-3" [disabled]="!form.valid" (click)="createEvento()">Crear Evento</button>
      <button type="button" class="btn btn-danger btn-block mt-2" (click)="irEventos()">Cancelar</button>
    </form>
  </div>
</div>
