<div class="col-md-6">
    <h2 class="text-center">Editar Evento</h2>
  <form>
    <div class="form-group">
      <label for="nombre">Nombre evento:</label>
      <input [(ngModel)]="evento.nombre" placeholder="Nombre" name="nombre" class="form-control" id="nombre">
    </div>
  
    <div class="form-group">
      <label for="descripcioncorta">Descripción corta:</label>
      <input [(ngModel)]="evento.descripcioncorta" placeholder="Descripción Corta" name="descripcioncorta" class="form-control" id="descripcioncorta">
    </div>
  
    <div class="form-group">
      <label for="descripcionextendida">Descripción extendida:</label>
      <input [(ngModel)]="evento.descripcionextendida" placeholder="Descripción extendida" name="descripcionextendida" class="form-control" id="descripcionextendida">
    </div>

    <div class="form-group">
        <label for="preciomin">Precio mínimo:</label>
        <input [(ngModel)]="evento.preciomin" placeholder="Precio mínimo" name="preciomin" class="form-control" id="preciomin">
    </div>

    <div class="form-group">
        <label for="preciomax">Precio máximo:</label>
        <input [(ngModel)]="evento.preciomax" placeholder="Precio máximo" name="preciomax" class="form-control" id="preciomax">
    </div>

    <div class="form-group">
        <label for="normas">Normas:</label>
        <input [(ngModel)]="evento.normas" placeholder="Normas" name="normas" class="form-control" id="normas">
    </div>

    <div class="form-group">
        <label for="genero">Género:</label>
        <input [(ngModel)]="evento.genero" placeholder="Género" name="genero" class="form-control" id="genero">
    </div>

    <div class="form-group">
        <label for="recinto">Recinto nombre:</label>
        <input [(ngModel)]="evento.recinto.nombre" placeholder="Recinto" name="recinto" class="form-control" id="recinto">
    </div>    
  
    <button class="btn btn-success" (click)="editarEvento()">Editar</button>
  </form>
  </div>