<!-- listar-usuarios.component.html -->

<div class="col-md-6">
  <h2>User Details</h2>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="hidden">Id</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Fecha Alta</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td class="hidden">{{usuario.usuarioID}}</td>
        <td>{{usuario.nombre}}</td>
        <td>{{usuario.apellidos}}</td>
        <td>{{usuario.fechaAlta | date:'short'}}</td>
        <td>
          <!-- Agrega botones u otras acciones según sea necesario -->
          <!-- <button class="btn btn-danger" (click)="deleteUser(usuario)">Delete User</button> -->
        </td>
      </tr>
    </tbody>
  </table>
</div>
